<!-- source/flats/show.html.erb -->

<!-- Access data.flats with owner's name as key -->
<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->
<div class="banner-small" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>');">
  <div class="banner-content">
  </div>
</div>

<div class="container">
  <div class="flat-info">
    <div class="flat-profile">
      <h4><%= flat.name %></h4>
      <p><%= flat.city_name %></p>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle flat-profile-img" %>
      <p>Rating: <%= flat.rating %>/5</p>
    </div>
    <div class="flat-booking">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputName3" placeholder="Name">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <input type="date" class="form-control" id="inputCheck-out3" placeholder="Check out">
          </div>
          <div class="col-sm-4">
            <input type="date" class="form-control" id="inputCheck-out3" placeholder="Check out">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8">
            <button type="submit" class="btn btn-primary">Book now</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="wrapper-gray">
  <div class="container">
    <div class="flat-description">
      <h5>About</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, doloremque facere ullam cupiditate aut quis porro voluptatibus impedit ducimus inventore cum commodi adipisci voluptate quidem hic dicta laborum! Eaque, ipsam.</p>
      <table>

      </table>
    </div>
  </div>
</div>
